<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.clientInformation.dao.ClientInformationDao">
    <update id="updateClientInvite" parameterType="java.lang.String">
        update t_customer_info_table
        set in_id=#{ind},
        change_name=#{userId},
        change_time=now()
        where is_delete=0
        and customer_id=#{userId}
    </update>
</mapper>