<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.clientGoods.dao.ClientGoodsDao">
    <select id="getGoods" parameterType="java.lang.String" resultType="com.xzsd.app.clientGoods.entity.ClientGoodsVO">
        SELECT
            goods_name goodsName,
            bookId isbn,
            introduction goodsDescribe,
            price goodsPrice,
            picture goodsImagePath,
            star_level goodsEvaluateScore,
            author goodsAuthor,
            publisher goodsPress
        FROM
            t_goods_table
        WHERE
            good_id =  #{goodsId}
            AND is_delete =0
    </select>
    <select id="getEvaluatesByPage" parameterType="com.xzsd.app.clientGoods.entity.EvaluateScoreDo" resultType="com.xzsd.app.clientGoods.entity.ClientGoodsEvaluatesVO">
        SELECT
        b.user_acct userAcct,
        a.appraise_txt evaluateContent,
        a.star_level evaluateScore,
        a.create_time createTime
        FROM
        t_appraise_table a,
        t_sys_user b,
        t_goods_table c
        WHERE
        a.user_id = b.user_code
        AND c.good_id = a.goods_id
        AND a.goods_id = #{goodsId}
        <if test="evaluateScore != null and evaluateScore != ''">
            and a.star_level = #{evaluateScore}
        </if>
    </select>
    <select id="listGetClassGoods" resultType="com.xzsd.app.clientGoods.entity.ListOneGoodsClassifyVO">
        SELECT
            cate_id classifyId,
            cate_name classifyName
        FROM
            t_cate_table
        WHERE
            cate_id_parent =0
    </select>
    <!--映射-->
    <resultMap id="cateList" type="com.xzsd.app.clientGoods.entity.cateListVO">
        <id property="id" column="cate_id"></id>
        <result property="classify" column="cate_name"></result>
        <collection property="goodsList" ofType="goodsList" javaType="java.util.List" column="cate_id" select="getByCateCode"></collection>
    </resultMap>
    <!--    查询该分类的子分类列表-->
    <select id="listGoodsByCateId" parameterType="java.lang.String" resultMap="cateList">
        select
        cate_id ,
        cate_name
        from t_cate_table
        where is_delete =0
        and cate_id_parent = #{cateId}
    </select>
    <!--    查询该子分类商品列表-->
    <select id="getByCateCode" parameterType="java.lang.String" resultType="com.xzsd.app.clientGoods.entity.goodsCateVO">
        select
        good_id goodsId,
        picture goodsImagePath,
        goods_name goodsName,
        price goodsPrice
        from t_goods_table
        where is_delete =0
        and category = #{cate_id}
        order by category asc
    </select>
</mapper>