<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.register.dao.RegisterDao">
    <!--统计要新增的用户数量-->
    <select id="countById" parameterType="java.lang.String" resultType="int">
        select count(user_acct)
        from t_sys_user
        where is_deleted = 0
        and user_acct = #{userAcct}
    </select>
    <!--新增用户-->
    <insert id="clientRegister" parameterType="com.xzsd.app.register.entity.UserInfo">
        insert into t_sys_user
        (user_acct,
         user_name,
         user_code,
         user_pwd,
         id_card,
         sex,
         phone,
         email,
         is_deleted,
         create_by,
         gmt_create,
         version,
         pictureUrl,
         role
         )
        values
           (#{userAcct},
           #{userName},
           #{userId},
           #{userPwd},
           #{idCard},
           #{sex},
           #{phone},
           #{email},
           0,
           #{userAcct},
           now(),
           0,
           #{pictureUrl},
           3
            )
    </insert>
<!--新增客户-->
    <insert id="addCustomer" parameterType="java.lang.String">
        insert into t_customer_info_table
        (customer_id,
         is_delete,
         version,
         create_name,
         create_time
        )
        values (
        #{userId},
        0,
        0,
        #{userId},
        now()
        )
    </insert>
</mapper>