<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.clientShopCart.dao.ShopCartDao">
    <select id="countByGoodsId" parameterType="java.lang.String" resultType="int">
        select count(*)
        from t_shopping_car_table
        where goods_id=#{goodsId}
    </select>
    <insert id="addShopCart" parameterType="com.xzsd.app.clientShopCart.entity.ShopCartInfo">
        insert into t_shopping_car_table
        (
        is_delete,
        create_name,
        create_time,
        version,
        user_id,
        cnt,
        goods_id,
        shopping_car_id,
        price
        )values (
        0,
        #{createName},
        now(),
        0,
        #{userCode},
        #{cnt},
        #{goodsId},
        #{shoppingCartCode},
        #{price}
        )
    </insert>
    <select id="listShoppingCarts" parameterType="java.lang.String" resultType="com.xzsd.app.clientShopCart.entity.ShopCartVO">
        SELECT
            b.goods_name goodsName,
            b.good_id goodsId,
            b.price goodsPrice,
            a.cnt cartGoodsCount,
            b.picture goodsImagePath,
            a.shopping_car_id shopCartId
        FROM
            t_shopping_car_table a,
            t_goods_table b
        WHERE
            a.is_delete = 0
            AND a.user_id = #{userCode}
            AND a.goods_id = b.good_id
    </select>
    <update id="updateShoppingCart" parameterType="com.xzsd.app.clientShopCart.entity.ShopCartInfo">
        update t_shopping_car_table
        set
        version=version+1,
        cnt=#{cnt},
        change_name=#{changeName},
        change_time=now()
        where shopping_car_id=#{shoppingCartCode}
    </update>
    <update id="deleteShoppingCart" parameterType="java.lang.String">
        update t_shopping_car_table
        set
        is_delete = 1,
        version=version+1,
        change_name=#{userCode},
        change_time=now()
        where shopping_car_id in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <select id="getPrice" parameterType="java.lang.String" resultType="java.lang.String">
        select
            price
        from t_goods_table
        where good_id=#{goodsId}
    </select>
</mapper>