<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.carouselPicture.dao.CarouserlDao">
    <select id="countCarouserlById" parameterType="int" resultType="int">
        select count(*)
        from t_picture_table
        where num=#{num}
        and is_delete=0
    </select>
    <!--新增轮播图-->
    <insert id="addCarouserl" parameterType="com.xzsd.pc.carouselPicture.entity.CarouserlInfo">
        insert into t_picture_table
        (image_url,
         banner_code,
         goods_id,
         is_delete,
         create_name,
         create_time,
         num,
         start_time,
         end_time,
         status,
         version
         )
        values
           (
           #{imageUrl},
           #{bannerCode},
           #{goodsId},
           0,
           #{createBy},
           now(),
           #{sortNo},
           #{startTime},
           #{endTime},
           0,
           0
            )
    </insert>
    <!--删除轮播图-->
    <update id="deleteCarouserl" parameterType="java.lang.String">
        update t_picture_table
        set
        is_delete = 1,
        change_time = now(),
        change_name=#{lastModifiedBy},
        version = version + 1
        where banner_code in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--查询轮播图分页-->
    <select id="carouserlListByPage" parameterType="com.xzsd.pc.carouselPicture.entity.CarouserlInfo" resultType="com.xzsd.pc.carouselPicture.entity.CarouserlListVo">
        select
            a.banner_code bannerCode,
            a.goods_id goodsId,
            a.image_url imageUrl,
            a.num sortNo,
            a.status status,
            a.start_time startTime,
            a.end_time endTime,
            a.version version
        from t_picture_table a
        where is_delete = 0
        <if test="status != null and status != ''">
            and a.status like concat('%', #{status}, '%')
        </if>
        order by a.num
    </select>

    <!--启用轮播图-->
    <update id="updateStatusOpen" parameterType="java.lang.String">
        update t_picture_table
        set
        status = 1,
        change_time = now(),
        change_name=#{lastModifiedBy},
        version = version + 1
        where banner_code in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--禁用轮播图-->
    <update id="updateStatusOff" parameterType="java.lang.String">
        update t_picture_table
        set
        status = 0,
        change_time = now(),
        change_name=#{lastModifiedBy},
        version = version + 1
        where banner_code in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>