<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.driver.Dao.DriverDao">
    <select id="countDriverAcct" parameterType="java.lang.String" resultType="int">
        select count(driver_acct)
        from t_driver_info_table
        where driver_acct=#{driverAcct}
    </select>
    <insert id="addDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        insert into t_driver_info_table
        (
            province,
            province_no,
            city,
            city_no,
            county,
            county_no,
            driver_id,
            is_delete,
            create_name,
            create_time,
            version,
            store_id,
            driver_acct
        )
        values (
        #{province},
        #{provinceCode},
        #{city},
        #{cityCode},
        #{county},
        #{countyCode},
        #{driverCode},
        0,
        #{createBy},
        now(),
        0,
        #{storeId},
        #{driverAcct}
        )
    </insert>
    <update id="updateDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        UPDATE t_driver_info_table
        SET province = #{province},
        province_no = #{provinceCode},
        city = #{city},
        city_no = #{cityCode},
        county = #{county},
        county_no = #{countyCode},
        change_name = #{lastModifiedBy},
        change_time = now(),
        version = version + 1,
        store_id = #{storeId}
        WHERE
            driver_id = #{driverCode} and is_delete=0 and version=#{version}
    </update>

    <update id="deleteDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        UPDATE t_driver_info_table
        SET
        is_delete=1,
        change_name = #{userCode},
        change_time = now(),
        version = version + 1
        WHERE
            driver_id in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <select id="listDriverByPage" parameterType="com.xzsd.pc.driver.entity.DriverDo" resultType="com.xzsd.pc.driver.entity.DriverVO">
        SELECT
            a.driver_acct driverAcct,
            a.driver_id driverCode,
            b.user_name driverName,
            b.phone phone,
            b.id_card IdCard,
            a.version version,
            b.version version1
        FROM
            t_driver_info_table a
            JOIN t_sys_user b ON a.driver_id = b.user_code
        WHERE
            a.is_delete =0
        <if test="driverName != null and driverName != ''">
            and b.user_name like concat('%', #{driverName}, '%')
        </if>
        <if test="provinceCode != null and provinceCode != ''">
            and a.province_no like concat('%', #{provinceCode}, '%')
        </if>
        <if test="cityCode != null and cityCode != ''">
            and a.city_no like concat('%', #{cityCode}, '%')
        </if>
        <if test="countyCode != null and countyCode != ''">
            and a.county_no like concat('%', #{countyCode}, '%')
        </if>
        <if test="driverCode != null and driverCode != ''">
            and a.driver_id like concat('%', #{driverCode}, '%')
        </if>
    </select>
    <select id="findDriverById" parameterType="java.lang.String" resultType="com.xzsd.pc.driver.entity.DriverInfo">
        SELECT
            a.driver_acct driverAcct,
            a.province province,
            a.city city,
            a.county county,
            a.store_id storeId,
            a.driver_id driverCode,
            b.user_name driverName,
            b.phone phone,
            b.id_card IdCard,
            a.version version,
            b.version version1
        FROM
            t_driver_info_table a
            JOIN t_sys_user b ON a.driver_id = b.user_code
        WHERE
            a.is_delete = 0
            AND a.driver_id = #{driverId}
    </select>
</mapper>