<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.order.dao.OredrDao">
    <insert id="addOrder" parameterType="com.xzsd.pc.order.entity.OrderInfo">
        insert into t_goods_order_table
        (order_id,
        is_deleted,
        create_by,
        gmt_create,
        version,
        user_id,
        shipping_user,
        order_status,
        receiver_no,
        pay_time,
        price
        )
        values (
        #{orderId},
        0,
        #{createBy},
        now(),
        0,
        #{userId},
        #{shippingUser},
        0,
        #{receiverNo},
        now(),
        #{price}
        )
    </insert>
    <insert id="addOrderDetail" parameterType="java.util.List">
        <selectKey resultType ="java.lang.Integer" keyProperty= "id"
                         order= "AFTER">
                        SELECT LAST_INSERT_ID()
         </selectKey >
        insert into t_goods_order_table_cp
        (order_id,
        is_deleted,
        create_by,
        gmt_create,
        version,
        goods_Id,
        price,
        num
        )
        values
        <foreach collection="list" item="orderInfo" separator="," close=";">
            (
            #{orderInfo.orderId},
            0,
            #{orderInfo.userId},
            now(),
            0,
            #{orderInfo.goodsId},
            #{orderInfo.price},
            #{orderInfo.num}
            )
        </foreach >
    </insert>

    <update id="updateGoodsStock" parameterType="java.util.List">
        <selectKey resultType ="java.lang.Integer" keyProperty= "id"
                   order= "AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey >
        <foreach collection="list" item="orderInfo" open="" close="" separator=";">
            update t_goods_table
            <set>
                stock=stock-${orderInfo.num}
            </set>
            where good_id = #{orderInfo.goodsId}
        </foreach >
    </update>
    <select id="listOrderByPage" parameterType="com.xzsd.pc.order.entity.OrderInfo" resultType="com.xzsd.pc.order.entity.OrderVO">
        select
        a.order_id orderId,
        a.price price,
        a.user_id userId,
        b.phone,
        b.user_name shippingUser,
        a.pay_time payTime,
        a.order_status orderStatus,
        a.receiver_no receiverNo
        FROM
        t_goods_order_table a
        JOIN t_sys_user b ON a.user_id = b.user_code
        where a.is_deleted = 0
        <if test="orderStatus != null and orderStatus != ''">
            and a.order_status like concat('%', #{orderStatus}, '%')
        </if>
        <if test="orderId != null and orderId != ''">
            and a.order_id like concat('%', #{orderId}, '%')
        </if>
        <if test="phone != null and phone != ''">
            and b.phone like concat('%', #{phone}, '%')
        </if>
        <if test="shippingUser != null and shippingUser != ''">
            and b.user_name like concat('%', #{shippingUser}, '%')
        </if>
        <if test="payTime != null and payTime != ''">
            <if test="payTime2 != null and payTime2 != ''">
                and a.pay_time between #{payTime} and #{payTime2}
            </if>
        </if>
        order by pay_time desc
    </select>
    <select id="findOrderById" parameterType="java.lang.String" resultType="com.xzsd.pc.order.entity.OrderDetailsVO">
        select
             a.order_id orderId,
             a.goods_Id goodsId,
             b.goods_name goodsName,
             a.price price,
             a.price salesPrice,
             a.create_by userId,
             a.num num
        FROM
            t_goods_order_table_cp a
            JOIN t_goods_table b ON a.goods_Id = b.good_id
        WHERE
            a.is_deleted = 0
            and a.order_id=#{orderId}
        ORDER BY
            a.Id DESC
    </select>
    <!--    * 订单各个状态修改 订单状态 0已下单，1已发货，2已取消，3已完成未评价，4已完成已评价  5订单到货 6 取消到货   7订单已取货  8取消已取货-->
    <!--    *                          2订单取消  1订单到货  0取消到货   3订单已取货     1取消已取货-->
    <update id="updateOrderStatusById" parameterType="java.lang.String">
        update t_goods_order_table
        set order_status=#{status},
        change_name=#{userId},
        change_time=now()
        where order_id in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
        <!--提供版本号修改的方式-->
    <update id="updateOrderStatus" parameterType="java.util.List">
        <foreach collection="list" item="orderDTO" open="" close="" separator=";">
            update t_goods_order_table
            <set>
                order_status=${orderDTO.orderStatus},
                change_name=#{orderDTO.lastModifiedBy},
                change_time=now(),
                version=version+1
            </set>
            where order_id=${orderDTO.orderId}
            and version=${orderDTO.version}
        </foreach >
    </update>
</mapper>
