<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.user.dao.UserDao">
    <!--统计要新增的用户数量-->
    <select id="countUserById" parameterType="java.lang.String" resultType="int">
        select count(user_acct)
        from t_sys_user
        where is_deleted = 0
        and user_acct = #{userAcct}
    </select>
    <!--新增用户-->
    <insert id="addUser" parameterType="com.xzsd.pc.user.entity.UserInfo">
        insert into t_sys_user
        (user_acct,
         user_name,
         user_code,
         user_pwd,
         id_card,
         sex,
         phone,
         email,
         is_deleted,
         create_by,
         gmt_create,
         version,
         role
         )
        values
           (#{userAcct},
           #{userName},
           #{userId},
           #{userPwd},
           #{idCard},
           #{sex},
           #{phone},
           #{email},
           0,
           #{userAcct},
           now(),
           0,
           #{role}
            )
    </insert>
    <!--逻辑删除用户-->
    <update id="deleteUser" parameterType="com.xzsd.pc.user.entity.UserInfo" >
        update t_sys_user
        set is_deleted =1,
        gmt_modified=now(),
        last_modified_by=#{userCode},
        version = version + 1
        where user_code in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--分页查询用户信息-->
    <select id="listUserByPage" parameterType="com.xzsd.pc.user.entity.UserInfo" resultType="com.xzsd.pc.user.entity.UserInfo">
        select
          a.user_code userId,
          a.user_acct userAcct,
          a.user_name userName,
          a.id_card idCard,
          a.sex sex,
          a.phone phone,
          a.email email,
          a.role role,
          a.remark,
          a.is_deleted,
          a.sort_no,
          a.gmt_create,
          a.create_by,
          a.gmt_modified,
          a.last_modified_by,
          a.version
        from  t_sys_user a
        where  is_deleted=0
        <if test="userName != null and userName != ''">
            and a.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="userAcct != null and userAcct != ''">
            and a.user_acct like concat('%', #{userAcct}, '%')
        </if>
        <if test="role != null and role != ''">
            and a.role like concat('%', #{role}, '%')
        </if>
        order by gmt_create desc
    </select>
    <!--查询用户详情-->
    <select id="getUserById" parameterType="java.lang.String" resultType="com.xzsd.pc.user.entity.UserInfo">
        select
          a.user_acct userAcct,
          a.user_name userName,
          a.id_card idCard,
          a.sex sex,
          a.phone phone,
          a.email email,
          a.role role,
          a.user_pwd userPwd,
          a.version version
        from t_sys_user a
        where user_code=#{userAcct}
    </select>
    <!--统计用户账号数量-->
    <select id="countUserAcct" parameterType="com.xzsd.pc.user.entity.UserInfo" resultType="int">
        select count(user_acct)
        from t_sys_user
        where is_deleted = 0
        and user_acct = #{userAcct}
    </select>
    <!--修改用户信息-->
    <update id="updateUser" parameterType="com.xzsd.pc.user.entity.UserInfo">
        update t_sys_user
        set
            user_name    = #{userName},
            user_acct    = #{userAcct},
            id_card      = #{idCard},
            sex          = #{sex},
            phone        = #{phone},
            email        = #{email},
            remark       = #{remark},
            gmt_modified = now(),
            last_modified_by   = #{lastModifiedBy},
            user_pwd=#{userPwd},
            version      = version + 1
          where user_code = #{userId}
            and version = #{version}
            and is_deleted = 0
    </update>
    <insert id="addCustomer" parameterType="java.lang.String">
        insert into t_customer_info_table
        (customer_id,
         is_delete,
         version,
         create_name,
         create_time
        )
        values (
        #{userId},
        0,
        0,
        #{userId},
        now()
        )
    </insert>
    <select id="listCustomer" parameterType="com.xzsd.pc.user.entity.CustomerInfo" resultType="com.xzsd.pc.user.entity.CustomerVO">
        SELECT
        a.user_acct customerAccount,
        a.user_name customerName,
        a.id_card IdCard,
        a.sex sex,
        a.phone phone,
        a.email email
        FROM
        t_sys_user a
        JOIN t_customer_info_table ON a.user_code = t_customer_info_table.customer_id
        WHERE
        is_deleted =0
        <if test="customerName != null and customerName != ''">
            and a.user_name like concat('%', #{customerName}, '%')
        </if>
        <if test="customerAccount != null and customerAccount != ''">
            and a.user_acct like concat('%', #{customerAccount}, '%')
        </if>
        order by create_time desc
    </select>
    <select id="listCustomerByRole" parameterType="com.xzsd.pc.user.entity.CustomerInfo" resultType="com.xzsd.pc.user.entity.CustomerVO">
        SELECT
        a.user_acct customerAccount,
        a.user_name customerName,
        a.id_card IdCard,
        a.sex sex,
        a.phone phone,
        a.email email
        FROM
        t_sys_user a,
        t_customer_info_table b,
        t_store_table c
        WHERE
        a.is_deleted = 0
        AND a.user_code = b.customer_id
        AND b.in_id = c.invitation
        AND c.user_code = #{userCode}
        <if test="customerName != null and customerName != ''">
            and a.user_name like concat('%', #{customerName}, '%')
        </if>
        <if test="customerAccount != null and customerAccount != ''">
            and a.user_acct like concat('%', #{customerAccount}, '%')
        </if>
        order by b.create_time desc
    </select>
    <select id="getTopOfColumn" parameterType="java.lang.String" resultType="com.xzsd.pc.user.entity.TopVo">
        SELECT
            user_name userName,
            pictureUrl userImage,
            user_code userId,
            role role
        FROM
            t_sys_user
        WHERE
	        user_code = #{userId}
    </select>
</mapper>